html {

}

body {
    background-color: thistle;
}

.grid-item {
    background-color: white;
}

.border {
    border: 1px solid black;
}

#container{
    margin: 34px auto;
    display: grid;
    width: 600px;
    height: 600px;
}

#clear {
    position: fixed;
    left: 50px;
    top: 50px;
}

#grid-size {
    position: fixed;
    left: 50px;
    top: 80px;
}

#toggle-border {
    position: fixed;
    left: 50px;
    top: 110px;
}

#black {
    position: fixed;
    left: 50px;
    top: 140px;
}

#random {
    position: fixed;
    left: 50px;
    top: 170px;
}