@font-face {
    font-family: 'fatface';
    src: url('../fonts/AbrilFatface-Regular.ttf');
}

html {
    font-size: 10px;
}

body {
    background-color: #fef04e;
    font-family: 'fatface';
    display: flex;
}

.grid-item {
    background-color: white;
}

.border {
    border: 1px solid #f05a9c;
}

#container{
    margin: 33px 50px 0;
    display: grid;
    min-width: 600px;
    min-height: 600px;
    border: 1px solid #f05a9c;
}

button {
    width: 160px;
    height: 30px;
    margin: 0 50px 10px;
    background-color: #f05a9c;
    font-size: 1.5rem;
    font-family: inherit;
    border: none;
    outline: none;
    color: #f8f8ff;
}

#buttons {
    display: flex;
    flex-direction: column;
    margin: 33px 0;
}

button:active, button:focus {
    border: 2px solid black
}

@media (min-width: 965px) {
    #container {
        margin: 33px 50px 0 auto;
    }

    #buttons {
        margin-right: auto;
    }
}